html,
body {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    /* position: relative; */
    height: 100%;
    width: 100%;
    /* 70% of screen height */
    max-width: 70vh;
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
    background-color: var(--header);
    color: var(--title);
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    user-select: none;
}

.preloader {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button {
    color: var(--title);
}

* {
    /* Disable the blinking effect of buttons and input fields */
    -webkit-tap-highlight-color: transparent;
}